.crd {
  margin-top: 1.5rem;
}

.crd-body {
  background: rgba(33, 37, 41, 0.03);
  padding-inline: 2rem;
  padding-block: 5rem;
}

.crd-footer {
  background: 0;
  padding-inline: 0;
  padding-block-start: 1rem;
}

.crd-title {
  font-size: 3rem;
}
